html,
body {
  font-family: "Handjet", cursive;
  margin: auto;
  background-image: url("tumblr_c0d8f2d80b022e197ceb75edc3fe2457_961d486f_1280.gif");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

.header > h1 {
  text-align: center;
  font-size: 55px;
  color: white;
}

.container {
  box-sizing: content-box;
  width: 408px;
  height: fit-content;
  text-align: center;
  border: 1px;
  border-width: 10px;
  position: absolute;
  inset: 0;
  margin: auto;
  margin-top: 130px;
  box-shadow: rgba(255, 255, 255, 0.81) 0px 5px 15px;
  border-radius: 25px;
  backdrop-filter: blur(6px);
  color: white;
}

.discord {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1366px) {
  .discord img {
    width: 380px;
    height: auto;
  }

  .container {
    width: 380px;
    height: 550px;
  }
}

@media (max-width: 800px) {
  .header > h1 {
    font-size: 50px;
  }

  .container {
    width: 300px;
    height: 430px;
  }

  .discord img {
    width: 300px;
    height: auto;
  }
}
